.task {
    display: flex;
    width: 327px + 165px;
    align-items: center;
    justify-content: space-between;
  
    & p {
      text-align: center;
      width: 117px;
      height: 50px;
      background: #e7e8ea;
      border: 1px solid #e7e8ea;
      box-sizing: border-box;
      border-radius: 6px;
      border: none;
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 50px;
      color: #676c75;
    }
  }
  
  .play,
  .pause,
  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(
      135deg,
      #009fc5 0%,
      #3cecb0 100%
    );
    border-radius: 25px;
    border: none;
  }
  
  .pause {
    background: linear-gradient(
      135deg,
      #7956ec 0%,
      #2fb9f8 100%
    );
  }
  
  .delete {
    background: linear-gradient(
      135deg,
      #f23673 0%,
      #fca069 100%
    );
  }
  
  .on,
  .off,
  .basket {
    color: #ffffff;
  }
  
  .red {
    background: rgba(255, 72, 118, 0.15) !important;
  }